body {
  background: green;
}

/* Estrutura principal */
header, main, footer {
  min-width: 855px;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
}

/* Cabeçalho */
header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

/* Conteúdo principal */
main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer .left {
  float: left;
  width: 285px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

/* MENU */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: green;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Alteraçoes minhas */
main .right img {
  width: 530px;
  display: block;
  margin: 0 auto;
}

/* Título */
div h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: darkgreen;
  margin-bottom: 8px;
}

/* FORMULÁRIO*/
#formulario {
  background: #f9f9f9;
  padding: 0.1px 0.1px;
  border-radius: 0.1px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
}

#formulario label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 1px;
  font-family: 'Poppins', sans-serif;
}

#formulario input {
  width: 100%;
  padding: 0.1px 0.1px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: 'Poppins', sans-serif;
}

#formulario input:focus {
  border-color: darkgreen;
  box-shadow: 0 0 6px rgba(0, 100, 0, 0.2);
}

/* Botão */
#formulario button {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  width: 100%;
}

#formulario button:hover {
  background-color: #008000;
  transform: scale(1.03);
}